body {
	color: #fff;
	background-color: #000;
	font-family: sans-serif;
}

p {
	color: #000;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:link, a:visited {
	color: #fff;
}

#header {
	height: 5%;
	font-size: 150%;
}

#map {
	height: 90%;
}
#footer {
	height: 5%;
	padding-top: 10px;
	font-size: 50%;
}

#credits {
	float: left;
}

#attribution {
	float: right;
}

.rude-place-popup, .rude-place-popup a {
	color: #000;
}

.rude-place-popup a {
	font-size: 75%;
}
